body{
    margin: 0;
    padding: 0;
    background-image: url(./photos/Background1.png);
    color: #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 50px;
    height: 70px;
    align-items: center;
}
.links{
    display:flex;
    list-style: none;
    gap:40px;
}
.links li{
    font-size: 20px;
    color: orange;
}
.nav-1{
    display: flex;
    align-items: center;
    gap: 120px;
}
.logo {
    color: orange;
    font-size: 30px;
    font-weight: 600;
}
.icons {
    display: flex;
    gap: 35px;
}
.icons i{
    font-size: 25px;
    color: black;
}
.hero {
    display:flex;
    align-items: center;
    gap: 150px;
  

}
.left {
    display:flex;
    flex-direction: column;
    padding: 240px;
    align-items: start;
}
.left1{
    font-size: 30px;
    font-style: italic;
}
.left2{
    font-size: 80px;
   
    font-weight: 600;
}
.left3{
    font-size: 24px;
    font-style: italic;
    color: orange;
    margin-bottom: 15px;
}
.left4{
    border: 2px solid #fff;
    padding:5px 15px;
    border-radius: 30px;

}
#food {
    background: url(./photos/food.png);
    width: 400px;
    height: 400px;
    background-size: cover;
   
}
.food{
    border:2px solid #fff;
    border-radius: 50%;
}
#food1, 
#food2,
#food3,
#food4 {
    border: 2px solid #fff;
    width:120px;
  height: 120px;
  border-radius: 50%;
}
.items{
    display:flex;
    padding-left: 150px;
    margin-top: -50px;
    gap: 20px;
    
}
#food1{
    background: url(./photos/food1.png);
    background-size: cover;
}
#food2{
    background: url(./photos/food2.png);
    background-size: cover;
}
#food3{
    background: url(./photos/food3.png);
    background-size: cover;
}
#food4{
    background: url(./photos/food4.png);
    background-size: cover;
}